html {
    width: 320px;
    height: 597px; 
}
body {
    width: 320px;
    height: 597px;
}
.b-header {
    display:flex;
    height: 88px;
}
.b-header__item {
   margin: 24px 0 24px 16px;
}
.b-header__item1 {
  margin: 18.5px 16.73px 18.5px 16.73px;    
}
.b-header__item2 {
    margin: 28px 20px 28px 0;
}
.b-header__item3 {
   margin: 24px 16px 24px 0;
}
.b-header__item4 {
    margin: 24px 16px 24px 0;
}
.b-h1 {
   display:flex;
}
.b-h1__item {
    margin: 0 0 0 0;
    width: 4px;
    height: 40px;
}
.b-h1__item2 {
    border-width: 288px;
    margin: 0 16px 0 16px;
    font-size: 28px;
}
.b-nav {
    display:flex;
    overflow-x:  scroll;
    margin: 24px 0 0 0;
    white-space: nowrap;
    text-align: center;
}
.b-nav__item{
  border: 1px solid #b8ffec;  
  width: 246px;  
  border-radius: 6px;
  padding: 8px 16.54px 8px 16.54px;
  text-align: string;
  font-family: 'TT Lakes';
  font-size: 16px;
  color: #7E7E82;
  margin: 0 19.5px 0 0;
}
.b-nav__item2{
    border: 1px solid #b8ffec;  
    width: 246px;  
    border-radius: 6px;
    padding: 8px 16.54px 8px 16.54px;
    text-align: string;
    font-family: 'TT Lakes';
    font-size: 16px;
    color: #7E7E82;
    margin: 0 19.5px 0 0;
}
.b-nav__item3{
    border: 1px solid #b8ffec;  
    width: 246px;  
    border-radius: 6px;
    padding: 8px 16.54px 8px 16.54px;
    text-align: string;
    font-family: 'TT Lakes';
    font-size: 16px;
    color: #7E7E82;
    margin: 0 19.5px 0 0;
}
.b-nav__item4{
    border: 1px solid #b8ffec;  
    width: 246px;  
    border-radius: 6px;
    padding: 8px 16.54px 8px 16.54px;
    text-align: string;
    font-family: 'TT Lakes';
    font-size: 16px;
    color: #7E7E82;
    margin: 0 19.5px 0 0;
}
.b-nav__item5{
    border: 1px solid #b8ffec;  
    width: 246px;  
    border-radius: 6px;
    padding: 8px 16.54px 8px 16.54px;
    text-align: string;
    font-family: 'TT Lakes';
    font-size: 16px;
    color: #7E7E82;
    margin: 0 19.5px 0 0;
}
.b-nav__item6{
    border: 1px solid #b8ffec;  
    width: 246px;  
    border-radius: 6px;
    padding: 8px 16.54px 8px 16.54px;
    text-align: string;
    font-family: 'TT Lakes';
    font-size: 16px;
    color: #7E7E82;
    margin: 0 19.5px 0 0;
}
.b-p__item {
    font-size: 14px;
    margin: 24px 16px 16px 16px;
    font-family: TT Lakes;
    line-height: 18px;
}

.b-footer {
    width: 320px;
    height: 230.8px;
}
.b-img {
    display:flex;
}
.b-icon {
    width: 7.41px;
    height: 10.29px;
    margin: 7.29px 0 0 24.4px;
}
.b-p__item2 {
    width: 100px;
    height: 24px;
    margin: 0 0 16px 16px;
}    